@{
    Layout = null;
    var code = ViewData["Code"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ошибка @code</title>
</head>
<body>
    <h1>Произошла ошибка @code</h1>
    <p>Извините за неудобства.</p>
    <a href="/">Вернуться на главную</a>
</body>
</html>