@{
    ViewData["Title"] = "Контакты";
}

<h1>Наши контакты</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Компания "Вояж"</h5>
        <p class="card-text"><b>Адрес:</b> г. Москва, ул. Пушкина, д. 10</p>
        <p class="card-text"><b>Телефон:</b> +7 (999) 999-99-99</p>
        <p class="card-text"><b>Email:</b> contact@voyage.com</p>
    </div>
</div>
<br />
<h2>Напишите нам</h2>
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Ваше имя</label>
        <input type="text" class="form-control" id="name" placeholder="Введите имя">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Ваш email</label>
        <input type="email" class="form-control" id="email" placeholder="Введите email">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Сообщение</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Введите сообщение"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
